extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Enter game here' name='title' required='true' value=(undefined===game ? '' : game.title) )
    div.form-group
      label(for='studio') Studio:
      select#studio.form-control(type='select', placeholder='Select studio' name='studio' required='true' )
        - studios.sort(function(a, b) {let textA = a.name.toUpperCase(); return (textA) ? -1 : (textA) ? 1 : 0;});
        for studio in studios
          if game
            option(value=studio._id selected=(studio._id.toString()===game.studio._id.toString() ? 'selected' : false) ) #{studio.name}
          else
            option(value=studio._id) #{studio.name}
    div.form-group
      label(for='summary') Summary:
      textarea#summary.form-control(type='textarea', placeholder='Summary' name='summary' required='true') #{undefined===game ? '' : game.summary}
    div.form-group
      label Genre:
      div
        for genre in genres
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked )
            label(for=genre._id) #{genre.name}
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
