extends layout

block content

  h1 ID: #{gameinstance._id}

  p #[strong Title:] #{gameinstance.game.title}

  p #[strong Status: ]
    if gameinstance.status=='Available'
      span.text-success #{gameinstance.status}
    else if gameinstance.status=='Maintenance'
      span.text-danger #{gameinstance.status}
    else
      span.text-warning #{gameinstance.status}

  if gameinstance.status!='Available'
    p This game is not available.

  hr
  p
    a(href=gameinstance.url+'/delete') Delete GameInstance
  p
    a(href=gameinstance.url+'/update') Update GameInstance